/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* * {
  box-sizing: border-box;
} */

.pw-container {
  background-color: transparent;
  border-color: #2f4f4f;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  /* min-width: 320px; */
  height: auto;
  margin: 10px;
}

.pw-header {
  padding: 1rem;
}
.pw-header .indication {
  font-weight: bold;
}
.pw {
  background-color: #fff8dc;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
  height: 30px;
  width: 20%;
  position: relative;
  padding: 1rem;
}

.pw .copier {
  background-color: white;
  border: none;
  color: rgb(29, 2, 56);
  cursor: pointer;
  font-family: inherit;
  font-size: small;
  font-weight: bold;
  padding: 0.25rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, 20%);
  transition: opacity 0.2s ease, transform 0.2s ease;
  opacity: 0;
}

.pw:hover .copier {
  opacity: 1;
  transform: translate(0, 0%);
}

.pw-body {
  padding: 0 1rem 1rem;
  display: flex;
}

.control-form {
  color: #eee;
  margin-left: 2px;
  height: 40px;
}

.generate {
  background-color: #ecb602;
  border: none;
  color: rebeccapurple;
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-left: 2px;
  height: 40px;
  width: auto;
}
@media screen and (max-width: 768px) {
  .pw {
    width: 100%;
  }
  .pw-body {
    display: block;
  }
}
