body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.section-1 {
  box-shadow: 3px 3px 6px gray;
}
#accordion-body {
  background-color: teal;
}
/* .indicatif,
.indicatif-1,
.indicatif-2,
.indicatif-3,
.indicatif-4 {
  background-color: goldenrod;
  font-style: italic;
  text-align: center;
  padding: 1px;
  width: 100%;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
} */
/* .indicatif {
  background-color: indigo;
  margin-bottom: 20px;
} */
#card-container {
  margin-left: 10%;
  margin-right: 15%;
  margin-top: 2%;
  box-shadow: 5px 5px 5px gray;
}
/* 
.data-table {
  border-radius: 10px;
  box-shadow: 0 0 15px ghostwhite;
  padding-top: 20px;
} */
.champs {
  flex-direction: row;
}
.champs-2-text {
  width: auto;
}
/* .champs-2 {
  width: 45%;
} */
form {
  width: 100%;
  justify-content: space-evenly;
}
.champs .color-span {
  background-color: goldenrod;
  width: 25%;
}
.champs {
  display: flex;
}

form button {
  text-decoration: none;
  /* padding: 10px 10px; */
  padding-right: 5px;
  /* border-radius: 5px; */
  border: 0;
  cursor: pointer;
  width: 100%;
}
.button-send {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  border: none;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  background-color: green;
  color: white;
  width: 95%;
  font-size: large;
}
.button-envoyer {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  border: none;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  background-color: green;
  color: white;
  width: 95%;
  font-size: large;
}

.button-send:hover {
  box-shadow: 6px 6px 15px royalblue;
}

.data-table table {
  /* width: 100%; */
  text-align: center;
}

.data-table table,
.data-table th .data-table td {
  border-collapse: collapse;
}
#th-table {
  background-color: darkgoldenrod;
  /* text-align: center;
  border: none; */
  font-size: medium;
  text-transform: capitalize;
}
td {
  text-transform: capitalize;
  /* font-size: smaller; */
  font-size: medium;
}
#td-a {
  display: flex;
}

.data-table table a {
  display: inline-block;
  padding: 1px 1px;
  text-decoration: none;
  color: darkslategrey;
  font-weight: bold;
  /* border-radius: 30px; */
  font-size: 0.9em;
}

/* .data-table table a + a {
  color: black;
  background-color: red;
} */

/* ********************************Medias querys */
@media screen and (max-width: 992px) {
  .data-table .gestion-personnel,
  .data-table .pw-container {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #card-container {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 4%;
    margin-bottom: 10%;
    box-shadow: 2px 2px 3px gray;
    width: 100%;
  }
  #container-table {
    overflow-x: scroll;
  }
  nav #lsll {
    font-size: 18px;
    margin-left: 5px;
  }
  .champs {
    width: 100%;
    /* margin-left: 1px; */
    /* margin-right: 1px; */
  }
  .champs .color-span {
    width: 35%;
  }
  td,
  #size-a {
    font-size: smaller;
  }
  /* .champs .input-group-text {
    width: 30px;
  } */
  .data-table {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }
  .data-table table {
    width: auto;
  }
  #td-a {
    display: block;
  }

  /* .section-1,
  .section-2,
  .section-3 {
    border-bottom: 2px solid gray;
  } */

  .indicatif-1,
  .indicatif-2,
  .indicatif-3,
  .indicatif-4 {
    /* width: 88%; */
    width: auto;
  }
  .group-1,
  .all-group {
    flex-direction: column;
  }
  .champs {
    padding-left: 0px;
    display: flex;
    /* margin-bottom: 10px; */
    width: 100%;
  }
  .champs input {
    /* margin-left: 5px; */
    width: 100%;
  }

  /* .champs span,
  .all-group {
    margin-left: 10px;
  } */

  form .button-send {
    width: 88%;
    margin-left: 10px;
  }
}

@media screen and (max-width: 576px) {
  /* .form-presence {
    display: flex;
  } */
  #container-table {
    overflow-x: scroll;
  }
  #card-container {
    margin-bottom: 5%;
  }
  .champs .color-span {
    width: 55%;
  }
}

@media screen and (max-width: 320px) {
  .indicatif-4 {
    height: auto;
  }
  nav #lsll {
    font-size: 15px;
  }
  div h3 {
    font-size: large;
  }
  div span {
    font-size: x-small;
  }
  .champs span,
  .all-group {
    margin-left: 0px;
  }
  .section-1 {
    box-shadow: 3px 3px 6px gray;
    margin-left: -10px;
  }
  form .input-group {
    width: 100%;
    margin-right: 0px;
  }

  #card-container {
    margin-left: 0%;
    margin-right: 2%;
    margin-top: 2%;
    box-shadow: 2px 2px 3px gray;
    width: 100%;
    margin-bottom: 5%;
  }
}
